<header>
    <nav>
        <a href="/">Customer Manager</a>
        <ul>
            <li><a href="/customers">Customers</a></li>
            <li><a href="/customers/new">Add Customers</a></li>
        </ul>
    </nav>
</header>