<label>Name</label>
<input type="text" name="name" <%= customer.name %>><br>
<label>Last name</label>
<input type="text" name="lastname" <%= customer.lastname %>><br>
<label>Cell phone number</label>
<input type="text" name="cellphone" <%= customer.cellphone %>><br>
<label>City</label>
<input type="text" name="city" <%= customer.city %>><br>